{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-dark">
        <div class="col text-center mt-3">
            <h2 class="display-5 text-uppercase">Gym Classes</h2>
            <hr class="w-75 mb-1">
            <h5 class="display-5">Update Workout Plan - {{ workout.day_of_week }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <form method="POST" action="{% url 'update_workout_plan' workout.id %}" class="add-product" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <a class="btn btn-dark mx-2" href="{% url 'workout_plan' %}">
                        <i class="fas fa-chevron-left"></i>
                        <span class="font-weight-bold px-2">Cancel</span>
                    </a>
                    <button class="btn btn-warning mx-2" type="submit">
                        <span class="font-weight-bold px-2">Update</span>
                        <span class="icon">
                            <i class="fa fa-edit"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}