{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Gym Classes</h2>
            <hr class="w-75 mb-1">
        </div>
    </div>
</div>

<div class="container">
    <div class="slider-wrap-plan row text-center">
        <div class="slider-main-plan" id="slider-day-plan">
            {% for workout in workout_plan_daily %}
            <div class="item-plan col-12">
                <div class="card bg-warning">
                    <p class="my-3"><span class="font-weight-bold">{{ workout.category.name | upper }}</span> - {{ workout.day_of_week }}</p>
                    <img class="card-img-plan img-fluid" src="{{ workout.category.image.url }}" alt="{{ workout.category.name }}">
                </div>
                <div class="card-body text-left mb-5">
                    <p>{{ workout.category.description }}</p>
                    <p>Session time: <span class="font-weight-bold">{{ workout.workout_time }}min</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-warning px-3 mx-2" id="prevPlan"><i class="fas fa-chevron-left"></i> Prev</button>
            <button class="btn btn-warning px-3 mx-2" id="nextPlan">Next <i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        var sliderDayPlan = document.getElementById('slider-day-plan')
        var itemPlan = sliderDayPlan.getElementsByClassName('item-plan')
        var prevPlan = document.getElementById('prevPlan')
        var nextPlan = document.getElementById('nextPlan')

        nextPlan.addEventListener('click', () => {
            sliderDayPlan.append(itemPlan[0])
        })

        prevPlan.addEventListener('click', () => {
            sliderDayPlan.prepend(itemPlan[itemPlan.length - 1])
        })
    </script>
{% endblock %}