{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Order Placed</h2>
            <hr>
            <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7"></div>
    </div>
    <div class="submit-button text-center mt-5 mb-2">
        <a href="{% url 'products' %}" class="btn btn-dark">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="font-weight-bold">Keep Shopping</span>
        </a>
    </div>
</div>
{% endblock %}