{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Product Management</h2>
            <h5>Update ERR Store Inventory</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <form method="POST" action="{% url 'add_product' %}" class="add-product" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <a class="btn btn-dark" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-warning" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}